.container {
    width: 500px;
    height: 100px;
  position: relative;
  border-radius: 12px;
  bottom: 30px;
  left: 130px;
}

.image {

    width: 493px;
    height: 500px;
    border-radius: 19px 19px 0px 0px;
}

.description {
  border-radius: 12px;
  background: white;
      font-size: 1.5rem;
  padding: 6px;
}

.details {
  position: absolute;
  width: 30vw;
  background: rgba(0, 0, 0, 0.74);
  top: 409px;
  padding: 24px;
  box-sizing: border-box;
}

.title {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.date,
.time {
    position: relative;
    top: 20px;
    color: #FFF;
    font-size: 18.249px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    line-height: 141.688%;
    letter-spacing: 0.365px;
    margin-right: 10px;
}
