.timerContainer {
  width: 60vw;
  height: 30vh;
  background: #1e2343;
  position: absolute;
  top: 535px;
  right: 650px;
  border-radius: 12px;
  margin-top: 6px;
  display: flex;
  gap: 20px;
  /* box-sizing: border-box; */
  padding: 12px;
  align-items: center;
  justify-content: space-evenly;
}

.timewrapper {
  position: relative;
  left: 100px;
}

.timerText {
  color: white;
  font-size: 1.5rem;
}

.timerControls {
  width: 35vw;
  text-align: center;
}

.timerUnit {
  color: white;
  display: inline-block;

  gap: 10px;
  align-items: center;
  font-size: 2rem;
  justify-content: space-evenly;
}

.timerLabel {
  position: relative;
  bottom: 50px;
  display: inline;
}

#incr {
  position: relative;
  right: 40px;
}
.timerButton {
  position: relative;
  /* right: 20px; */
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-top: 6px;
}

.timerValue {
  padding: 6px;
}

.timerStartBtn {
  width: 400px;
  height: 47px;
  position: relative;
  top: 97px;
  right: 300px;
  background: #ff6a6a;
  border-radius: 12px;
  padding: 6px;
  color: white;
  text-align: center;
  cursor: pointer;
}

.timerStartBtn{
    color: #FFF;
font-size: 25px;
font-family: Roboto;
font-style: normal;
font-weight: 400;
line-height: 105.688%;
letter-spacing: 1.24px;
}